.homecontainer {
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
    background: yellow;
    box-sizing: border-box;
    flex-direction: row;
}

.webcontainer {
    flex: 1;
    background: red;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.animationcontainer {
    flex: 1;
    background: blue;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.uxcontainer {
    flex: 1;
    background: green;
    padding: 30px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px) {
    .homecontainer {
        flex-direction: column;
    }
}
